//main: style.scss

/* --------------------------------------------------------
* ! Fonts
-------------------------------------------------------- */
@font-face {
  font-family: "Heebo";
  src: url("../blubase/fonts/Heebo/Heebo-VariableFont_wght.ttf");
  font-display: swap;
}
