//main: style.scss

/* --------------------------------------------------------
* ! Global
-------------------------------------------------------- */
html {
  font-size: 16px;
}
body {
  font-family: $font_1;
  color: $txt_color;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  overflow-x: clip;
  //max-width: 100vw;
}

p {
  line-height: 1.6em;
  margin-bottom: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_2;
  font-weight: bold;
  color: $title_color;
  margin-bottom: 0.6em;
  line-height: 1.2;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.9rem;
}

a {
  color: $link_color;
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $link_hover_color;
}

ul {
  margin-bottom: 30px;
  li {
    padding-bottom: 4px;
  }
}
img {
  max-width: 100%;
}

figure {
  margin: 0;
  position: relative;
}

figure.w-100 img {
  width: 100%;
}

hr {
  width: 100%;
  margin-bottom: 45px;
  margin-top: 45px;
  border-color: $border_color !important;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 4px solid $primary_color;
  padding: 15px;
  background: #f5f7f8;
  margin-bottom: 30px;

  p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 15px;
  }
}

/* ! container
------------------------------------*/
.container {
  @include main-container;
}
