//main: gutenberg-theme-style.scss

/* Color Text
--------------------------------------------------------*/
.has-primary-color {
  color: $primary_color !important;
}

.has-secondary-color {
  color: $secondary_color !important;
}

.has-third-color {
  color: $third_color !important;
}

.has-fourth-color {
  color: $fourth_color !important;
}

.has-fifth-color {
  color: $fifth_color !important;
}

.has-sixth-color {
  color: $sixth_color !important;
}

.has-seventh-color {
  color: $red_color !important;
}

.has-eighth-color {
  color: $yellow_color !important;
}

.has-ninth-color {
  color: $green_color !important;
}

.has-tenth-color {
  color: $blue_color !important;
}

.has-white-color {
  color: $white_color !important;
}

.has-black-color {
  color: $black_color !important;
}

/* Background
--------------------------------------------------------*/
.has-primary-background-color {
  background-color: $primary_color !important;
}

.has-secondary-background-color {
  background-color: $secondary_color !important;
}

.has-third-background-color {
  background-color: $third_color !important;
}

.has-fourth-background-color {
  background-color: $fourth_color !important;
}

.has-fifth-background-color {
  background-color: $fifth_color !important;
}

.has-sixth-background-color {
  background-color: $sixth_color !important;
}

.has-seventh-background-color {
  background-color: $red_color !important;
}

.has-eighth-background-color {
  background-color: $yellow_color !important;
}

.has-ninth-background-color {
  background-color: $green_color !important;
}

.has-tenth-background-color {
  background-color: $blue_color;
}

.has-white-background-color {
  background-color: $white_color !important;
}

.has-black-background-color {
  background-color: $black_color !important;
}

/* Font size class gutenberg
--------------------------------------------------------*/
//42
.has-42-font-size {
  font-size: 42px;
  line-height: 1.2em;
}

//36
.has-36-font-size {
  font-size: 36px;
  line-height: 1.4em;
}

//32
.has-32-font-size {
  font-size: 32px;
  line-height: 1.4em;
}

//30
.has-30-font-size {
  font-size: 30px;
  line-height: 1.4em;
}

//28
.has-28-font-size {
  font-size: 28px;
  line-height: 1.4em;
}

//26
.has-26-font-size {
  font-size: 26px;
  line-height: 1.4em;
}

//24
.has-24-font-size {
  font-size: 24px;
  line-height: 1.5em;
}

//22
.has-22-font-size {
  font-size: 22px;
  line-height: 1.5em;
}

//20
.has-20-font-size {
  font-size: 20px;
  line-height: 1.5em;
}

//18
.has-18-font-size {
  font-size: 18px;
  line-height: 1.5em;
}

//16
.has-16-font-size {
  font-size: 16px;
  line-height: 1.5em;
}

//14
.has-14-font-size {
  font-size: 14px;
  line-height: 1.5em;
}

//13
.has-13-font-size {
  font-size: 12px;
  line-height: 1.5em;
}

//12
.has-12-font-size {
  font-size: 12px;
  line-height: 1.5em;
}

.has-large-font-size {
  font-size: 36px;
}
