
.icon-check-1:before { content: '\e800'; } /* '' */
.icon-attention:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-x-share:before { content: '\e806'; } /* '' */
.icon-instagram-share:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e809'; } /* '' */
.icon-up-open-big:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-tags:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-download:before { content: '\e80f'; } /* '' */
.icon-whatsapp-share:before { content: '\e810'; } /* '' */
.icon-left-open-big:before { content: '\e811'; } /* '' */
.icon-right-open-big:before { content: '\e812'; } /* '' */
.icon-facebook-share:before { content: '\e813'; } /* '' */
.icon-cs-search:before { content: '\e814'; } /* '' */
.icon-cs-close:before { content: '\e816'; } /* '' */
.icon-chat:before { content: '\e817'; } /* '' */
.icon-user:before { content: '\e81c'; } /* '' */
.icon-logout-1:before { content: '\e81e'; } /* '' */
.icon-check:before { content: '\e81f'; } /* '' */
.icon-mobile:before { content: '\e821'; } /* '' */
.icon-comment-1:before { content: '\e82d'; } /* '' */
.icon-share:before { content: '\e82e'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-right-1:before { content: '\f178'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
