


/* --------------------------------------------------------
Desktop-small
-------------------------------------------------------- */
@media (max-width: 991px){
  body{
    padding: 0 0;
  }

  img.w-80, img.w-90, img.w-70{
    width: 100%;
  }


}


/* --------------------------------------------------------
Tablet
-------------------------------------------------------- */
@media (max-width: 767px){

}


/* --------------------------------------------------------
Smartphone
-------------------------------------------------------- */

@media (max-width: 575px){
  .customizer-tag{
    img.w-20{
    width: 100%;
  }
    img.w-30{
      width: 100%;
    }
    img.w-40{
      width: 100%;
    }
    img.w-50{
      width: 100%;
    }
    img.w-60{
      width: 100%;
    }
    img{
      width: 100%;
    }
  }
}
